
<div #MainDiv class="h-full w-full p-8">
    <div class="flex flex-col gap-4 h-full w-full bg-primary-darker rounded-3xl py-5 px-8
    shadow-[0px_0px_20px_3px_rgba(149,_157,_165,_0.2)] border-secondary border-x-2">
        <div class="flex flex-row justify-between items-center">
            <p class="font-bold font-Roboto text-4xl text-text-primary">Create Invoice</p>
            <div class="flex gap-2.5 flex-row-reverse">
                <div class="p-3 box-border rounded-sm bg-amber-700">
                    <a class="font-bold font-Roboto text-white" [routerLink]="['/overview', getCurrentId()]">Go to Overview</a>
                </div>
                <div class="p-3 box-border rounded-sm bg-amber-700">
                    <a class="font-bold font-Roboto text-white" [routerLink]="['/create-product']">Create Product</a>
                </div>
            </div>
        </div>
        <div class="flex flex-row flex-nowrap gap-1.5 h-full">
                @if (AvailableProducts.length > 0) {
                    <div class="grid grid-cols-3 grid-rows-2 grid-flow-row gap-4 bg-blue-900 w-full h-auto p-3 box-border rounded-3xl
                                self-start justify-evenly items-center">
                                @for(item of AvailableProducts; track item){
                                    <div class="rounded-2xl bg-green-400 w-full h-full p-1 box-border shadow-[0px_-2px_6px_7px_rgba(0,_0,_0,_0.3)] items-center justify-center flex flex-col gap-1">
                                        <p class="font-Roboto text-amber-900 font-extrabold text-2xl">{{ item.name }}</p>
                                        <div class="flex flex-row gap-1 justify-center items-center box-border p-1 w-full h-full">
                                            @for(unit of item.units; track unit) {
                                                <div (click)="PickProduct(item,unit)" class="flex flex-col box-border gap-1 items-center rounded-sm p-1 bg-amber-200
                                                border-1 hover: hover:border-amber-50 cursor-pointer select-none">
                                                    <p class="font-Roboto text-cyan-800 font-extrabold text-1xl">{{UnitType[unit.unit.type]}}</p>
                                                    <p class="font-Roboto text-cyan-600 font-extrabold text-1xl">{{unit.unitPrice}}$</p>
                                                </div>
                                            }
                                        </div>   
                                    </div>
                                }
                    </div>
                } @else {
                    <div class="flex items-center justify-center bg-blue-900 w-full h-auto p-3 box-border rounded-3xl
                                self-start">
                        <p class="font-Roboto font-semibold text-amber-300 text-2xl">Loading Products...</p>
                    </div>
                }
            <div class="flex flex-col gap-2 h-auto w-6/18 p-3 bg-gray-200 rounded-2xl flex-nowrap">
                <p class="font-bold font-Roboto text-2xl text-gray-600">Your basket</p>
                <div class="flex flex-col flex-nowrap items-center h-full w-full">
                    @for(item of Basket;track item) {
                        <div id="productDiv" class="flex flex-row p-1.5 gap-2 border-2 box-border h-15 w-full border-gray-600 rounded-sm not-first:border-t-0 not-first:rounded-none first:rounded-b-none last:rounded-b-sm">
                            <div class="relative h-full w-8/25">
                                <img ngSrc="assets/itemPlaceholder.png" class="object-contain" fill>
                            </div>
                            <div class="flex flex-row justify-between w-full">
                                <div>
                                    <p class="font-Roboto font-bold text-black">{{item.name}}</p>
                                    <p class="font-Roboto text-gray-600">{{UnitType[item.unitType]}}</p>
                                </div>
                                <div class="flex flex-col items-end justify-center">
                                    <p class="font-Roboto text-gray-800">x{{item.quantity}}</p>
                                    <p class="font-Roboto text-green-600">{{item.unitPrice}}$</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <button class="bg-violet-600 rounded-sm p-1.5 cursor-pointer text-1x1 font-Roboto text-red-200" (click)="ClearBasket()">Clear</button>
                <p class="font-bold font-Roboto text-2xl text-gray-600">Total Amount: <span class="text-green-700">{{CalculateBasket()}}</span><span>$</span></p>
            </div>
        </div>
        <!--Button-->
        <div class="self-center justify-center items-center flex flex-col mt-5">
            <button [disabled]="Basket.length <= 0" (click)="onSubmit()"
                    class="bg-green-500 p-3 w-50 text-2xl text-accent font-Roboto font-bold cursor-pointer
                            disabled:bg-red-500 disabled:cursor-not-allowed rounded-sm shadow-3xl transition-all duration-300 
                            enabled:shadow-[4px_4px_0px_0px_#ffffff] enabled:rounded-2xl">
                Submit
            </button>
        </div>
    </div>
</div>